# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  statmod,
  multtest
)

importFrom("stats", "pnorm", "pt", "rnorm", "rt", "var")
importFrom("utils", "combn")
